@charset "UTF-8";
* {
  font-family: "Instrument Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.headerWeb {
  padding: 1% 5%;
  margin: 0 auto;
}
.headerWeb__contacto {
  background-color: #bdff00;
  color: #131313;
  border-radius: 40px;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.headerWeb__contacto:hover {
  background-color: #131313;
  color: #ffffff;
}
.headerWeb__offcanvas {
  width: 300px;
}
.headerWeb__offcanvas .listaMenu__item a {
  color: #131313;
  text-decoration: none;
}
.headerWeb__offcanvas .listaMenu__item a:hover {
  text-decoration: underline;
}
.headerWeb__toggler {
  display: flex;
  justify-content: end;
  flex: 1;
}

.listaMenu {
  margin-bottom: 0;
}
.listaMenu__item {
  padding: 10px 20px;
  margin: 0% 5%;
  text-transform: uppercase;
  list-style: none;
}
.listaMenu__item.activo {
  font-weight: 600;
  text-decoration: underline;
}
.listaMenu__item a {
  color: #131313;
  text-decoration: none;
}
.listaMenu__item a:hover {
  text-decoration: underline;
}

.navbar-toggler-icon {
  background-image: url(../assets/menu-hamburguesa.svg);
}

.offcanvas-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.offcanvas-body {
  padding: 0;
}

/* Banner Inicio*/
.bannerInicio {
  padding: 2% 5%;
  margin: 0;
  max-width: 100%;
}
.bannerInicio__left {
  display: flex;
  align-items: center;
}
.bannerInicio__description {
  line-height: 1.6em;
}
.bannerInicio__logo {
  width: 50%;
}
.bannerInicio__image {
  width: 100%;
}

/* Estilo de los títulos */
h1 {
  font-size: 3.7em;
  font-weight: 400;
  line-height: 65px;
  margin: 5% 0%;
}

h2 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 3% 0%;
}

/* Estilo section experience */
.experience {
  padding: 3% 5%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
}
.experience__text {
  margin: 0% 10%;
}
.experience__image {
  border-radius: 16px;
  margin-top: 3%;
}

/* Estilo section modelos */
.modelos {
  padding: 3% 5%;
  margin: 0 auto;
  text-align: center;
}
.modelos__list {
  list-style: none;
  padding: 0;
}

/* Estilo section tres modelos */
.tresModelos {
  padding: 0;
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
}

.modelo {
  border: 1px solid #9a9a9a;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.modelo--center, .modelo--left {
  border-left: none;
}
.modelo--right {
  border-left: none;
  border-right: none;
}
.modelo__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modelo__numero {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #9a9a9a;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}
.modelo__nombre {
  border-radius: 40px;
  border: none;
  background-color: #bdff00;
  color: #131313;
  border-radius: 40px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.modelo__imagen {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.modelo__imagen:hover {
  transform: scale(1.02);
}

/* Estilos banner audio */
.bannerAudio {
  background-image: url("../assets/banner-audio.jpg");
  background-size: cover;
  height: 600px;
  padding: 0.5% 5%;
  max-width: 100%;
}

.bannerAudio__title {
  margin: 0 0 3% 0;
}

.bannerAudio__content {
  color: #FFFFFF;
}

/* Estilo Características Audio */
.caracteristicasAudio {
  padding: 4% 5%;
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
  max-width: 100%;
}

.caracteristicasAudio__item {
  padding-bottom: 4%;
}

.caracteristicasAudio__image {
  height: 7em;
  margin-bottom: 4%;
}

.caracteristicasAudio__title {
  font-weight: bold;
}

.quad360 {
  width: 50%;
}

/* Estilo principal de la sección */
.seccion-modelos {
  padding: 0.5% 5% 5% 5%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  height: auto;
  width: 100%;
}

/* Estilos para el bloque del modelo */
.bloque-modelo__contenido-1 {
  background-color: #bdff00;
  color: unset;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1.2em;
  row-gap: 4em;
}
.bloque-modelo__numero {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #131313;
  font-size: 2rem;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}
.bloque-modelo__contenido-2 {
  background-color: #131313;
  color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 1em;
  padding: 1.2em;
}
.bloque-modelo__contenido-2 details {
  border-top: 1px solid;
  padding-top: 1em;
}
.bloque-modelo__contenido-2 summary {
  padding: 0.5em 0;
}
.bloque-modelo__contenido-2 p {
  margin-bottom: 1em;
}

/* Estilos para el bloque de imagen */
.bloque-imagen {
  height: auto;
}
.bloque-imagen__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.bloque-imagen__img:hover {
  transform: scale(1.12);
}

/* Banner compañia */
.bannerCompania {
  background-image: url("../assets/medicom-toy-compania.jpg");
  background-size: cover;
  height: 600px;
  padding: 0.5% 5%;
  max-width: 100%;
}
.bannerCompania__content {
  color: #FFFFFF;
}

.twoColumnSection {
  padding: 4% 5%;
  max-width: 100%;
}
.twoColumnSection__title {
  margin-top: 0;
}
.twoColumnSection__paragraph {
  margin-top: 1.5rem;
}
.twoColumnSection__image {
  border-radius: 16px;
  width: 100%;
  height: auto;
}

/* Contacto */
.form-column__title {
  margin-bottom: 20px;
}
.form-column__form {
  max-width: 100%;
}

.form-control {
  border-radius: 16px;
  margin-bottom: 10px;
}

.input-group-text {
  border-radius: 16px;
}

.btn {
  background-color: #131313;
  color: #ffffff;
  border-radius: 20px;
  border: none;
}
.btn:hover {
  background-color: #bdff00;
  color: #131313;
}

.footer__left, .footer__center, .footer__right {
  text-align: center;
}
.footer__center {
  padding: 20px;
}
.footer__logoBearbrick {
  width: 200px;
}
.footer__nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.footer__nav-item {
  display: inline-block;
  margin-right: 20px;
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item a {
  color: #131313;
  text-decoration: none;
}
.footer__nav-item a:hover {
  text-decoration: underline;
}
.footer__linkedinIcon {
  width: 40px;
  height: 40px;
  fill: #131313;
}

footer {
  background-color: #bdff00;
  color: unset;
}

.contenedorFooter {
  padding: 2% 5%;
  margin: 0 auto;
  max-width: 100%;
}

.copyright {
  background-color: #131313;
  color: #ffffff;
  padding: 1% 0;
  text-align: center;
}
.copyright__text {
  color: #ffffff;
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
}

@media (max-width: 767.98px) {
  .headerWeb__right {
    display: none !important;
  }
  h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    margin: 10% 0%;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 3% 0%;
  }
  .tresModelos {
    display: block;
  }
  .modelo--center, .modelo--left {
    border-right: none;
    border-bottom: none;
  }
  .bloque-imagen {
    height: 400px;
  }
  .form-column {
    padding: 5%;
  }
  .footer__nav-item {
    display: block;
    margin-right: 0px;
  }
}

/*# sourceMappingURL=main.css.map */
