.headerWeb {
    @include espacio(1% 5%, 0 auto);

    &__contacto {
        @include fondoColor(map-get($colors, "verde"), map-get($colors, "negro"));
        @include sinBorde(40px);
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
        @include fondoColor(map-get($colors, "negro"), map-get($colors, "blanco"));
        }
    }

    &__offcanvas {
        width: 300px;

        .listaMenu__item a {
            @include link-style;
        }
    }

    &__toggler {
        display: flex;
        justify-content: end;
        flex: 1;
        }
}

.listaMenu {
    margin-bottom: 0;

    &__item {
        @include espacio(10px 20px, 0% 5%);
        text-transform: uppercase;
        list-style: none;
    
        &.activo {
            font-weight: 600;
            text-decoration: underline;
        }

        a {
            @include link-style;
        }
    }
}

.navbar-toggler-icon {
    background-image: url(../assets/menu-hamburguesa.svg);
}

.offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.offcanvas-body {
    padding: 0;
}