.headerWeb {
    margin: 0 auto;
    padding: 1% 5%;

    &__contacto {
        background-color: #bdff00;
        border-radius: 40px;
        border: none;
        color: #000000;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
        background-color: #131313;
        color: #FFFFFF;
        }
    }

    &__offcanvas {
        width: 300px;

        .listaMenu__item a {
        color: #131313;
        text-decoration: none;

        &:hover {
            color: #131313;
            text-decoration: underline;
            }
        }
    }

    &__toggler {
        display: flex;
        justify-content: end;
        flex: 1;
        }
}

.listaMenu {
    margin-bottom: 0;

    &__item {
        margin: 0% 5%;
        padding: 10px 20px;
        text-transform: uppercase;
        list-style: none;
    
        &.activo {
            font-weight: 600;
            text-decoration: underline;
        }

        a {
        color: #131313;
        text-decoration: none;

        &:hover {
            color: #131313;
            text-decoration: underline;
            }
        }
    }
}

.navbar-toggler-icon {
    background-image: url(../assets/menu-hamburguesa.svg);
}

.offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.offcanvas-body {
    padding: 0;
}