/* Banner Inicio*/
.bannerInicio {
    padding: 2% 5%;
    margin: 0;
    max-width: 100%;

    &__left {
        display: flex;
        align-items: center;
    }

    &__description {
        line-height: 1.6em;
    }

    &__logo {
        width: 50%;
    }

    &__image {
        width: 100%;
    }
}


/* Estilo de los títulos */
h1 {
    font-size: 3.7em;
    font-weight: 400;
    line-height: 65px;
    margin: 5% 0%;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 3% 0%;
}

/* Estilo section experience */
.experience {
    background-color: #ffffff;
    border-radius: 16px;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    padding: 3% 5%;
    text-align: center;
    width: 100%;

    &__text {
        margin: 0% 10%;
    }

    &__image {
        border-radius: 16px;
        margin-top: 3%;
    }
}

/* Estilo section modelos */
.modelos {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3% 5%;
    text-align: center;

    &__list {
        list-style: none;
        padding: 0;
    }
}

/* Estilo section tres modelos */
.tresModelos {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.modelo {
    border: 1px solid #9a9a9a;
    padding: 3%;
    display: flex;
    flex-direction: column;

    &--center, &--left {
        border-left: none;
    }

    &--right {
        border-left: none;
        border-right: none;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__numero {
        border-radius: 50%;
        border: 1px solid #9a9a9a;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
    }

    &__nombre {
        background-color: #bdff00;
        border-radius: 40px;
        border: none;
        color: #131313;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__imagen {
        width: 100%;
    }
}


/* Estilos banner audio */
.bannerAudio {
    background-image: url(../assets/banner-audio.jpg);
    background-size: cover;
    height: 600px;
    padding: 0.5% 5%;
    max-width: 100%;
}

.bannerAudio__title {
    margin: 0 0 3% 0;
}

.bannerAudio__content {
    color: #FFFFFF;
}

/* Estilo Características Audio */

.caracteristicasAudio {
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 4% 5%;
    max-width: 100%;
}

.caracteristicasAudio__item {
    padding-bottom: 4%;
}

.caracteristicasAudio__image {
    height: 7em;
    margin-bottom: 4%;
}

.caracteristicasAudio__title {
    font-weight: bold;
}

.quad360 {
    width: 50%;
}

/* Estilo principal de la sección */
.seccion-modelos {
    box-sizing: border-box;
    display: flex;
    height: auto;
    margin: 0 auto;
    padding: 0.5% 5% 5% 5%;
    width: 100%;
}

/* Estilos para el bloque del modelo */

.bloque-modelo {
    &__contenido-1 {
        background-color: #bdff00;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1.2em;
        row-gap: 4em;
    }

    &__numero {
        align-items: center;
        border-radius: 50%;
        border: 1px solid #000000;
        display: flex;
        font-size: 2rem;
        height: 3rem;
        justify-content: center;
        width: 3rem;
    }

    &__contenido-2 {
        background-color: #000000;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 1em;
        padding: 1.2em;
        color: #ffffff;

        details {
            border-top: 1px solid;
            padding-top: 1em;
        }

        summary {
            padding: 0.5em 0;
        }

        p {
            margin-bottom: 1em;
        }
    }
}

/* Estilos para el bloque de imagen */
.bloque-imagen {
    height: auto;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

/* Banner compañia */
.bannerCompania {
    background-image: url("../assets/medicom-toy-compania.jpg");
    background-size: cover;
    height: 600px;
    padding: 0.5% 5%;
    max-width: 100%;

    &__content {
        color: #FFFFFF;
    }
}

.twoColumnSection {
    padding: 4% 5%;
    max-width: 100%;

    &__title {
        margin-top: 0;
    }

    &__paragraph {
        margin-top: 1.5rem;
    }

    &__image {
        border-radius: 16px;
        width: 100%;
        height: auto;
    }
}

/* Contacto */
.form-column {
    &__title {
        margin-bottom: 20px;
    }

    &__form {
        max-width: 100%;
    }
}

.form-control {
    border-radius: 16px;
    margin-bottom: 10px;
}

.input-group-text {
    border-radius: 16px;
}

.btn {
    border-radius: 20px;
    background-color: #131313;
    border: none;

    &:hover {
        background-color: #bdff00;
        color: #000000;
    }
}