@media (max-width: 767.98px) {
    .headerWeb__right {
        display: none !important;
    }

    h1 {
        @include titulo(2em, 400, 1em, 10% 0%);
    }
            
    h2 {
        @include titulo(1.5em, 400, 1.2em, 3% 0%);
    }

    .tresModelos {
        display: block;
    }

    .modelo--center, .modelo--left {
        border-right: none;
        border-bottom: none;
    }

    .bloque-imagen {
        height: 400px;
    }

    .form-column {
        padding: 5%;
    }

    .footer__nav-item {
        display: block;
        margin-right: 0px;
    }    
}